header{
    text-align: center;
    background: -webkit-linear-gradient(to top, #ffffff, #dbdbdb);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #ffffff, #dbdbdb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.head{
    background-color: rgb(49, 30, 47);
    min-height: 2rem;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}

.log-text{
    margin: 5px;
}

.logo{
    padding:25px;
}
.log-btn{
    color: #ffffff;
    margin: 0 1rem;
    cursor: pointer;
}