@import url('https://fonts.googleapis.com/css?family=Lato:300i|Roboto:300');
html{
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background: #fff;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Roboto', sans-serif;

}

h1,h2,h3,h4{
  font-family: 'Lato', sans-serif;
}


.line-title{
  border-bottom: solid 2px lightgray;
  position: relative;
  margin: 0 auto 60px auto;
}
.line-title h2{
  position: absolute;
  top: -2.2rem;
  left:50%;
  transform: translateX(-50%);
  white-space: nowrap;
  background-color: #fff;
  padding: 0 2rem;
}
.contenido-container{
  max-width: 1000px;
  margin:auto;
  padding: 1rem;
  box-sizing: border-box;
}
.section-container{
  
    min-height: 50vh;
    padding: 1rem;
    box-sizing: border-box;
    margin: 50px auto;
    position: relative;
}


/* Animaciones */



@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}