.form-container{
    margin-top:50px;
}


.contact-hero{
    display:flex;
    justify-content: space-between;
    padding: 1rem;
}

.contact-menu-item{
    flex:1 0 30%;
    text-align: center;
}
.contact-form{
    padding-top:50px;
    background-color: #fff;
    margin: auto;
    color:rgb(60, 60, 60);
}
.contact-form form {
    max-width: 600px;
    margin: auto;
}
form legend{
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.input-field{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin: 5px 0;
}

.input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 15px;
    border-radius: 5px;
    border:solid 1px lightgray;
}

.btn{
display: block;
margin:auto;
background-color: rgb(93, 209, 118);
color:#fff;
padding: 10px 30px;
border:none;
cursor: pointer;
}