.nosotros-container{
    padding: 1rem;
    box-sizing: border-box;
    margin: 50px auto;
    position: relative;
    
}

.nosotros-text{
    text-align: center;
    margin-bottom: 50px;
}
.nosotros-text p{
    max-width: 700px;
    margin: auto;
}
.nosotros-list{
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.nosotros-list .item{
    flex: 0 1 calc(30% - 1rem);
    border: solid 3px lightgray;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 2px;
}