.amarillo{
    color:rgb(241, 221, 32);
}
.divider{
    background: linear-gradient( #fff, transparent);
    width: 3px;
    height: 80%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;

}
footer{
    width: 100%;
    margin-top: 20px;
    display:flex;
    height: 200px;
    background-color: rgb(49, 30, 47);
    color:white;
    position: relative;
}
footer .logo{
    width: 150px;
}
footer h2{
    margin:0;
    font-weight: bold;
}
.icon{
    
    font-size: 30px;
    margin:10px;
}

.footer-c-1, .footer-c-2{
    flex: 0 1 calc(50% - 1rem);
}
.footer-c-1{
    display: flex;
    justify-content: center;
}

.footer-item{
    padding: 1rem;
    box-sizing: border-box;
}
.footer-item:nth-child(1){
    flex: 1 0 200px;
    text-align: center;
}
.footer-item:nth-child(2){

}