.Home{
width: 100%;
 background-image: url('https://c1.staticflickr.com/1/698/22706092457_f04a1e8f66_b.jpg');
 background-size: cover;
 background-position: center center;
 background-repeat: no-repeat;
 position: relative;
 

}

